{% extends "base.html" %}

{%load static %}

{%block title %}Lista de autos{% endblock %}

{% block content %}

<h3>Placas registradas</h3>
<br>
<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Placa</th>
		<th>descripcion</th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in autos %}
<tr>
<td>{{pk.placa}}</td>
<td>{{pk.descripcion}}</td>
<td><a href="{% url 'placaUpdate' pk=pk.id %}">Actualizar</a></td>
<td><a href="{% url 'placaDelete' pk=pk.id %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{%endblock%}
