{% extends "base.html" %}

{%load static %}

{%block title %}Lista de categorias{% endblock %}

{% block content %}

<h3>Electronicos registrados</h3>
<br>
<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Categoria</th>
		<th>Cantidad</th>
		<th>Disponible</th>
		<th>Costo</th>
		<th>Ubicacion</th>
		<th>Imagen</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in electronico %}
<tr>
	<td>{{pk.nombre}}</td>
	<td>{{pk.categoria}}</td>
	<td>{{pk.cantidad}}</td>
	<td>{{pk.disponible}}</td>
	<td>{{pk.costo}}</td>
	<td>{{pk.ubicacion}}</td>
	{% if pk.imagen %}
	<td><a href="{{pk.imagen.url}}"> <img src="{{pk.imagen.url}}" class="img-thumbnail" width="250" height="500" alt="Imagen no encontrada"></a></td>
	{%else%}
	<td><img src="#" class="img-thumbnail" width="150" height="300" alt="Imagen no encontrada, agregue una"></a></td>
	{%endif%}
<td><a href="{% url 'electronicodetail' id=pk.id %}">Detalles</a></td>
<td><a href="{% url 'electronicoupdate' pk=pk.id %}">Actualizar</a></td>
<td><a href="{% url 'electronicodelete' pk=pk.id %}">Borrar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{%endblock%}
