{% extends "base.html" %}

{%load static %}

{%block title %}Lista de prendas registradas{% endblock %}

{% block content %}

<h3>Prendas registradas</h3>
<br>
<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in conjunto %}
<tr>
<td>{{pk.nombre}}</td>
<td>{{pk.descripcion}}</td>
<td><a href="{% url 'conjuntodetail' id=pk.id %}">Detalles</a></td>
<td><a href="{% url 'conjuntoupdate' pk=pk.id %}">Actualizar</a></td>
<td><a href="{% url 'conjuntodelete' pk=pk.id %}">Borrar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{%endblock%}
